.form1{
    margin-right: 170px;
    margin-left: 170px;
    margin-top: 20px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-right: 15px;
    box-shadow: 3px 3px 20px #ccc;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: #A9C4B9;
     
  }