.imgProfile{
    height: 100px;
    width: auto !important;
}

.TBG{
    background-color: #A9C4B9;
    border-radius: 10px;
    width: 98%;
}

.navCard{
    background-color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.5s;
    border-radius: 5px;
    /* height: fit-content !important;
    width: max-content !important; */
    margin-bottom: 30px;
    font-size: x-large;
    color: black;
    object-fit: fill !important; 
}